.sidebar{
  flex: 1;
  position: sticky;
  top: 50px;
  height: calc(100vh-50px);
  background-color: #fff;
}
.sideWrapper{
  padding: 20px;
  color: gray;
}
.sideMenu{
  margin-bottom: 10px;
}
.sidebarTitle{
  font-size: 13px;

}
.sidebarList{
  list-style: none;
}
.sidebarListItem{
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.sidebarListItem.active , .sidebarListItem:hover{
  background-color: rgb(240, 240, 255);
}
.sidebarIcon{
  margin-right: 5px;
  font-size: 20px;

}